USE [master]
GO
/****** Object:  Database [Practicando2022]    Script Date: 03/08/2022 21:00:14 ******/
CREATE DATABASE [Practicando2022]
 CONTAINMENT = NONE
/* ON  PRIMARY 
( NAME = N'Practicando2022', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Practicando2022.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practicando2022_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Practicando2022_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO*/
ALTER DATABASE [Practicando2022] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practicando2022].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practicando2022]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 03/08/2022 21:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[legajo] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[esFumador] [bit] NOT NULL,
	[sueldo] [float] NOT NULL,
	[altura] [float] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Empleados] ([legajo], [nombre], [fechaNacimiento], [esFumador], [sueldo], [altura]) VALUES (17, N'Celeste', CAST(N'1992-08-13' AS Date), 1, 83000, 1.809999942779541)
INSERT [dbo].[Empleados] ([legajo], [nombre], [fechaNacimiento], [esFumador], [sueldo], [altura]) VALUES (15, N'Maria', CAST(N'1997-05-08' AS Date), 0, 64750, 1.6699999570846558)
INSERT [dbo].[Empleados] ([legajo], [nombre], [fechaNacimiento], [esFumador], [sueldo], [altura]) VALUES (11, N'Hernan', CAST(N'1994-04-07' AS Date), 1, 98000, 1.7400000095367432)
GO
USE [master]
GO
